.appoin {
    height: 60%;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}


form .ab {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
}
form label {
    display: block;
    text-align: left;
    padding-left: 10px; 
}
